@charset "UTF-8";
html {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
  background-color: #ddd;
}

header {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ddd;
  width: 100vw;
}
header .main-logo {
  height: 14rem;
}
header nav ul {
  display: flex;
  list-style-type: none;
}
header nav ul a {
  font-size: 2rem;
  color: black;
  text-decoration: none;
  padding: 1rem 3rem;
  border-right: 1px solid black;
}
header nav ul a:hover {
  color: gray;
}
header #social-media {
  display: flex;
  justify-content: flex-end;
  gap: 1.5rem;
  margin-right: 2rem;
}
header #social-media .social-media-logo {
  width: 4rem;
}

.hero {
  margin-top: 14rem;
  width: 100%;
  height: 70vh; /* Utilise la hauteur de la vue pour remplir l'écran */
  background-image: url(../images/hero-pizza-hand.jpg); /* Remplace 'ton-image.jpg' par le chemin de ton image */
  background-size: cover; /* L'image couvre toute la largeur et hauteur, en préservant le ratio */
  background-position: center; /* Centre l'image horizontalement et verticalement */
  background-repeat: no-repeat; /* Empêche la répétition de l'image */
  display: flex; /* Utilisé pour centrer le contenu si nécessaire */
  align-items: center; /* Centre le contenu verticalement */
  justify-content: center; /* Centre le contenu horizontalement */
  color: white; /* Exemple de couleur de texte */
  text-align: center; /* Centre le texte */
  margin-bottom: 50px;
}

.hero-content {
  padding: 20px; /* Ajoute un peu d'espace autour du contenu */
  border-radius: 8px; /* Coins arrondis pour le fond du contenu */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.hero-content h1 {
  font-size: 8rem;
  font-family: "Playfair Display", serif;
  align-content: center;
  text-transform: uppercase;
}
.hero-content .booking-button {
  background-color: rgba(75, 74, 74, 0.208);
  padding: 2rem 4rem;
  color: white;
  font-size: 2rem;
  border: 2px solid lightgray;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s all;
}
.hero-content .booking-button:hover {
  background-color: rgba(75, 74, 74, 0.538);
  transform: scale(110%);
  transition: 0.5s all;
}
.hero-content h2 {
  font-size: 4rem;
}

main {
  max-width: 1200px;
  margin: 0 auto;
}

#about-us {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
}
#about-us article {
  background-color: white;
  border-radius: 30px 0 0 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
  box-shadow: 0px 10px 15px gray;
}
#about-us article h3 {
  font-family: "Playfair Display", serif;
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 400;
}
#about-us aside {
  display: flex;
  border-radius: 0 30px 30px 0;
  background-color: white;
  box-shadow: 0px 10px 15px gray;
}
#about-us aside img {
  width: 100%;
  border-radius: 0 30px 30px 0;
}/*# sourceMappingURL=styles.css.map */